body {
text-align: center;
color: white;
background-color: cornflowerblue;
}

/* Remover bullet point dos links */
.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Oculta a tabela inicialmente */
#tabelaResultado {
    display: none; 
}

.destaque {
    background-color: rgb(68, 172, 30);
}
