body {
text-align: left;
color: white;
background-color: burlywood;
}

/* Remover bullet point dos links */
.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.destaque {
    background-color: rgb(73, 113, 58);
}